:root {
    --major-text-color: rgba(25, 44, 56, 1);
    --major-accent-text-color: #fff;
    --minor-text-color: rgba(25, 44, 56, .6);
    --nav-hover-color: rgba(0, 0, 0, 0.4);
    --max-width: 1170px;
    --header-height: 100px;
    --header-border-color: #333;
    --heading-bg-color: #49749B;
    --emphasized-section-bg-color: #24435E;
    --button-bg-color: #62C9DA;
    --button-text-color: #fff;
    --dots-bg-color: #D8D8D8;
    --dots-active-bg-color: #7C7C7C;
    --reveal-inactive-text-color: rgba(25, 44, 56, .5);
    --reveal-active-text-color: rgba(25, 44, 56, 1);
}