@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700|Roboto:400,500,700');

html, * {
    font-family: 'Roboto', sans-serif;
}

h3,
p {
    color: var(--major-text-color);
}

h3 {
    font-weight: 100;
    font-size: 50px;
}

p {
    font-size: 20px;
}

strong {
    font-weight: 500;
}